
.icon-key {
    background-image: url(../images/iconos/icon-key.png) !important;
}

.icon-accept {
    background-image: url(../images/iconos/icon-accept.png) !important;
}

.icon-cancel {
    background-image: url(../images/iconos/icon-cancel.png) !important;
}

.icon-stop {
    background-image: url(../images/iconos/icon-stop.png) !important;
}

.icon-user {
    background-image: url(../images/iconos/icon-user.png) !important;
}

.icon-calendar {
    background-image: url(../images/iconos/icon-calendar.png) !important;
}

.icon-save {
    background-image: url(../images/iconos/icon-save.png) !important;
}

.icon-new {
    background-image: url(../images/iconos/icon-new.png) !important;
}

.icon-pencil {
    background-image: url(../images/iconos/icon-pencil.png) !important;
}

.icon-cross {
    background-image: url(../images/iconos/icon-cross.png) !important;
}

.icon-folder-1{
    background-image: url(../images/iconos/icon-folder-1.png) !important;
}

.icon-encrypted{
    background-image: url(../images/iconos/icon-encrypted.png) !important;
}

.icon-perfil{
    background-image: url(../images/iconos/icon-perfil.png) !important;
}

.icon-key-add{
    background-image: url(../images/iconos/icon-key-add.png) !important;
}

.icon-usuarios{
    background-image: url(../images/iconos/icon-usuarios.png) !important;
}

.icon-user{
    background-image: url(../images/iconos/icon-user.png) !important;
}

.icon-overlays{
    background-image: url(../images/iconos/icon-overlays.png) !important;
}

.icon-favoritos{
    background-image: url(../images/iconos/icon-favoritos.png) !important;
}

.icon-application{
    background-image: url(../images/iconos/icon-application.png) !important;
}

.icon-package-programs{
    background-image: url(../images/iconos/icon-package-programs.png) !important;
}

.icon-institucion{
    background-image: url(../images/iconos/icon-institucion.png) !important;
}

.icon-calendar-view{
    background-image: url(../images/iconos/icon-calendar-view.png) !important;
}

.icon-house-star{
    background-image: url(../images/iconos/icon-house-star.png) !important;
}

.icon-users{
    background-image: url(../images/iconos/icon-users.png) !important;
}

.icon-folder-database{
    background-image: url(../images/iconos/icon-folder-database.png) !important;
}

.icon-view-process-users{
    background-image: url(../images/iconos/icon-view-process-users.png) !important;
}

.icon-application-view{
    background-image: url(../images/iconos/icon-application-view.png) !important;
}

.icon-terminal{
    background-image: url(../images/iconos/icon-terminal.png) !important;
}

.icon-group{
    background-image: url(../images/iconos/icon-group.png) !important;
}

.icon-vcard-edit{
    background-image: url(../images/iconos/icon-vcard-edit.png) !important;
}

.icon-layout-header{
    background-image: url(../images/iconos/icon-layout-header.png) !important;
}

.icon-note{
    background-image: url(../images/iconos/icon-note.png) !important;
}

.icon-table-column{
    background-image: url(../images/iconos/icon-table-column.png) !important;
}

.icon-date-delete{
    background-image: url(../images/iconos/icon-date-delete.png) !important;
}

.icon-layout-key{
    background-image: url(../images/iconos/icon-layout-key.png) !important;
}

.icon-book-key{
    background-image: url(../images/iconos/icon-book-key.png) !important;
}

.icon-comment{
    background-image: url(../images/iconos/icon-comment.png) !important;
}

.icon-report{
    background-image: url(../images/iconos/icon-report.png) !important;
}

.icon-find{
    background-image: url(../images/iconos/icon-find.png) !important;
}

.icon-deber{
    background-image: url(../images/iconos/icon-deber.png) !important;
}

.icon-aporte{
    background-image: url(../images/iconos/icon-aporte.png) !important;
}

.icon-examen{
    background-image: url(../images/iconos/icon-examen.png) !important;
}

.icon_upload{
    background-image: url(../images/iconos/icon_upload.png) !important;
}